extends tutor_layout

block content
    script(language='JavaScript').
        function chk() {
            if (form1.status[1].checked)
                txt.style.display = "";
            else
                txt.style.display = "none";
        }
    h1 #{title}: #{output.name}
    p #[strong 学号:] #{output.studentID}
    p #[strong 分类:] #{output.category}
    p #[strong 贡献:] #{output.level}
    p #[strong 时间:] #{output.time}
    p #[strong 证明材料:]
        a(href=output.evident target="_blank") 点击查看

    form(name='form1' method='POST' action='')
            label 审核结果:
            br
            div(style='display: inline; padding-right:10px;')
                input.radio-input(type='radio', name='status', value='已审核', onclick='chk()' )
                | 通过
                input.radio-input(type='radio', name='status', value='未通过', onclick='chk()' )
                | 未通过

                #txt(style='DISPLAY:none')
                    label(for='comment') 未通过原因
                        textarea.form-control(id='comment' name='comment' rows='3')
            br
            button.btn.btn-primary(type='submit') 提交