extends layout_student

block content
    h1= title
    form(method='POST' action='')
        //div.form-group
        //    label(for='courseID') 课程号:
        //    input#courseID.form-control(type='text', placeholder='如CSE001' name='courseID')
        //div.form_group
        //    label(for='course_name') 课程名:
        //    input#course_name.form-control(type='text', placeholder='请输入课程名称' name='course_name')
        //div.form-group
        //    label(for='semester') 开设学期:
        //    select#semester.form-control(type='select' placeholder='选择学期' name='semester' required='false')
        //        for semester in semester_list
        //            option(value=semester) #{semester}
        //button.btn.btn-primary(type='submit') 查询
        .form-row
            .col-xl-4.col-lg-4.col-md-12.col-sm-12.col-12.mb-2
                label(for='courseID') 课程号:
                input#courseID.form-control(type='text', placeholder='如CSE001' name='courseID')
            .col-xl-4.col-lg-4.col-md-12.col-sm-12.col-12.mb-2
                label(for='course_name') 课程名:
                input#course_name.form-control(type='text', placeholder='请输入课程名称' name='course_name')
            .col-xl-4.col-lg-4.col-md-12.col-sm-12.col-12.mb-2
                label(for='semester') 开设学期:
                select#semester.form-control(type='select' placeholder='选择学期' name='semester' required='false')
                    for semester in semester_list
                        option(value=semester) #{semester}
            button.btn.btn-primary(type='submit' ) 查询
    br
    .row
        .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            .card
                .card-header.d-flex
                    h5.card-header-title 成绩列表
                    .card-toolbar-tabs.ml-auto
                        span.badge.badge-primary
                            p(style='font-size:18px') GPA: #{GPA}
                .card-body
                    .table-responsive
                        table.table.table-striped.table-bordered.first
                            thead
                                tr
                                    th 课程号
                                    th 课程名
                                    th 英文课程名
                                    th 学分
                                    th 课程属性
                                    th 修读学期
                                    th 成绩
                                    th 未通过原因
                            tbody
                                each data in data_list
                                    tr
                                        th #{data.courseID}
                                        th #{data.course_detail[0].course_name}
                                        th #{data.course_detail[0].course_name_EN}
                                        th #{data.course_detail[0].credit}
                                        th #{data.course_detail[0].course_nature}
                                        th #{data.semester}
                                        th #{data.grade}
                                        th #{data.comment ? data.comment : 'N/A'}


